#signuppage
{
    display: none;
}
#loginpage
{
    display: none;
}
#menupage
{
    display: none;
}
#rechargepage
{
    display: none;
}
#balanceamount
{
    display: none;
}
#borrowBookPage
{
    display: none;
}
#borrowcountpage
{
    display: none;
}
#borrowHistoryPage
{
    display: none;
}
#returnpage
{
    display: none;
}
